/* 清除 *、li、img 的默认样式 */
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

html {
    height: 100%;
}

body {
    margin-left: 10px;
    height: 55%;
}

h1 {
    font-size: 40px;
    font-weight: 1000;
    float: left;
    height: 100%;
    width: 200px;
    color: white;
    text-align: center;
    padding-top: 100px;
    background-color: rgb(101, 165, 250);
}

.information {
    float: left;
    margin-left: 10px;
    width: 1000px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    clear: both;
}

dl {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 解决由float造成margin大小不对的问题 */
dl::after {
    clear: both;
    height: 0;
    width: 100%;
    content: '';
    display: block;
}

dl dt {
    font-weight: 600;
}

.base-information dt,
 .contact-information dt {
    float: left;
    margin-right: 10px;
}

.base-information dd,
 .contact-information dd {
    float: left;
    margin-right: 30px;
}

.ability-information div,
 .education-information div,
 .project-information div {
    margin-top: 10px;
}
